
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>see page to add data</h1>
    <form method="post" action="http://localhost:3000/list" ><br> <br><br><br><br>

        <input name="title" placeholder="enter your title to send" required><br><br>
        
        <input name="price" placeholder="enter your price to send"><br><br>
        <textarea name="description" >enter your description</textarea><br><br>
<input name="location" placeholder="enter location send">
<input name="country" placeholder="enter country send">

<button>submit</button>

    </form>
</body>
</html>