/* body{
    background-color: pink
} */
.navbar{
    height: 5rem;
    /* background-color:aquamarine; */
    font-weight: 600;
    font-size: 2rem;
    border-bottom: black;
}
.foo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 8rem;
  background-color: #f5f5f5; /* optional */
  /* min-height: 100vh; */
}

.fi i {
  margin: 0 10px;
  font-size: 1.5rem;
}

.flink a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
