<footer>
  <div class="foo">
    <div class="fi">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="flink">
      <a href="/p">Privacy</a>
      <a href="/p">Terms</a>
    </div>
  </div>
</footer>
